/* 현재 정해진 테마코드 최대한 심플하고 간단하게 구성하기 */

/*  테마 색 코드 #27AE60 */
@import "../../../node_modules/bootstrap/scss/bootstrap";




button{
    color: white;
    outline: 0;
    padding: 0;
    border: none;
    background: none;

}