.sub-button{
    background-color: black;
    color: wheat;
    width: 180px;
    height: 38px;
    border-radius: 10px;
}

.title-under-div{
    margin-top: 40px;
    width: 100%;

}

.title-under-div div:first-child{
    width: 80%;
}